<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon/icon.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,300;1,300&family=Smooch&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <title>Mercado Liebre</title>

</head>

<body>

  <header>
    <div class="lyb">
      <a href="home"><img src="/images/logo.svg" class="logo"></a>
      <div class="c2">
        <input class="search1" list="datalistOptions" id="exampleDataList"
          placeholder="Buscar productos, marcas y mas..."><i class="fa-solid fa-magnifying-glass lupa"></i>
      </div>
      <h2 class="a">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    <div class="hb">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav">
      <ul class="nv1">
        <li><a href="ofertas">Ofertas</a></li>
        <li><a href="Tiendas_oficiales">Tiendas Oficiales</a></li>
        <li><a href="Vender">Vender</a></li>
        <li><a href="ayuda">Ayuda</a></li>
      </ul>

      <ul class="nv2">
        <li><a href="register">Creá tu Cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="Mis_compras">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>

    </div>

  </header>
  <div>
    <img src="/images/img-home-banner.jpg" width="100%">
  </div>
  <main>

    <section>
      <div class="buv">
        <div class="h31">
          <h3>Basado en tu última visita</h3>
        </div>

        <div class="asd">
          <article class="c1">
            <img src="/images/img-macbook-pro-2019.jpg">
            <div class="desc">
              <i class="fas fa-truck truck camioncito1"></i>
              <div class="des">
                <p>$230.000</p>
                <p class="col">20% off</p>
              </div>
              <h5 class="ocultar">MacBook Pro 2019</h5>
            </div>
          </article>
          <article class="c1">

            <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg">
            <div class="desc">
              <i class="fas fa-truck truck camioncito1"></i>
              <div class="des">
                <p>$70.500</p>
                <p class="col">10% off</p>
              </div>
              <h5 class="ocultar">Samsung Galaxy S10</h5>
            </div>
          </article>

          <div class="buv">
            <div class="h31">
              <div class="ofe">
                <h3 class="ofe">Ofertas</h3>
              </div>
            </div>
            <div class="asd">
              <article class="c1">

                <img class="imagen" src="/images/img-cafetera-moulinex.jpg">
                <div class="desc">
                  <i class="fas fa-truck truck camioncito1"></i>
                  <div class="des">
                    <p>$6770</p>
                    <p class="col">40% off</p>
                  </div>
                  <h5 class="ocultar">Cafetera Moulinex</h5>
                </div>
            </div>
            </article>
          </div>
          <article class="c1">
            <img class="imagen" src="/images/img-tv-samsung-smart.jpg">
            <div class="desc">
              <i class="fas fa-truck truck camioncito1"></i>
              <div class="des">
                <p>$100.000</p>
                <p class="col">25% off</p>
              </div>
              <h5 class="ocultar ver">Tv smart samsung 49"</h5>
            </div>
          </article>

        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class=" fo1">
      <div class="fd">
        <i class="fas fa-credit-card ic"></i>
        <h2> Pagá con tarjeta o efectivo</h2>
        <p class="fp">Con Mercado Liebre Cash, tenés cuotas sin interés con
          tarjeta o efectivo en puntos de pago.
          ¡Y siempre es seguro!</p>
      </div>
      <div class="fd">
        <i class="fas fa-solid fa-gift ic"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p class="fp">Solo por estar registrad@ en Mercado Liebre
          tenés envíos gratis en miles de productos.
          Es un beneficio de Mercado Puntos.</p>
      </div>
      <div class="fd">
        <i class="fas fa-user-shield ic"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p class="fp">¿No te gusta? ¡Devolvelo! En Mercado Liebre,
          no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </div>
    </div>
    <div class="fd">
      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>

  </footer>
</body>

</html>